.centrarContenido{
  text-align: center;
}
.moverDerecha{
  padding-left: 70% !important;
}
.alturaTarjeta{
  min-height: 669px !important;
}
.cid-qHtuvBns9I p{
  text-align: justify !important;
}
.posicionarAbajo{
  bottom: 0px !important;
}

@media screen and (max-width: 320px) {
  div#textoEmpresa {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  div#textoEmpresa2 {
    display: none;
  }
}

.imagenServicios{
  width: 80%;
  height: 60%;
  padding-right: 10px;
  padding-left: 80px;
}

.MensajeContacto{
  padding-top: 20px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/logo.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.loader2{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/logo.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.imagenClientes{
  height: 90px !important;
  width: 90px !important;
  margin:auto;
}
.margenTitulos{
  padding-top: 75px;
  text-align: -webkit-center;
}
